<div class="cjobsheet" [@routerTransition]>
  <div class="card-header csearch-op-spacing"><h4 class="text-muted">Create Job Sheet</h4></div>
  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel1 = !isCollapsedPanel1"
        [attr.aria-expanded]="!isCollapsed1"
        aria-controls="collapse1"
      >
        <strong>Customer Details</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel1">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Name</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Customer Type</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Mobile Number</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Alternate Number</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Email ID</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Address</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad"><label class="pull-left adj-fon">Customer ID</label></div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6"></div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Address*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Pincode*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">City</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">State</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">TIN No.</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">GST No.</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Type Of Service Request</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Service request Mode*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>Walk In</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Repair Against</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>7000000-sfnskdfjnsdkfjnsdkjfnskgjsngjksnfgksjnfgs</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>ELS Checklist</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">ELS Checcklist not applicable</div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel1 = !isCollapsedPanel1"
        [attr.aria-expanded]="!isCollapsed1"
        aria-controls="collapse1"
      >
        <strong>Product Details</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel1">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Product Category</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Product</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Model</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">IMEI / ESN / Serial No. 1</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Activation Date</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">IMEI / ESN / Serial No. 2</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad"><label class="pull-left adj-fon">Warranty as per system</label></div>
              <div class="col-sm-6"><label></label></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Repair Transaction Type*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>Walk In</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Repair Warranty*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">D.O.P(As per Customer)</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Is center authorized to Repair</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6"><input type="text" class="form-control" /></div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Problem Details</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">Work In Progress</div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Inward Checklist</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">
        <div class="row ">
          <div class="col-sm-7">Check Name</div>
          <div class="col-sm-5">Inward Check</div>
        </div>
        <div class="row adj-fon">
          <div class="col-sm-7">Check Name</div>
          <div class="col-sm-5">
            <fieldset class="form-group">
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="" />Yes </label
              >&nbsp;
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" />No </label
              >&nbsp;
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3" />Not Applicable
              </label>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Repair History</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">First Time Job</div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Other Details</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Service request Mode*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>Walk In</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Engineer Availavility</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">ELS Checcklist not applicable</div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div
        class="card-header"
        (click)="isCollapsedPanel2 = !isCollapsedPanel2"
        [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapse1"
      >
        <strong>Job Action Status</strong>
      </div>
      <div class="card-body cust-detailfont" [ngbCollapse]="isCollapsedPanel2">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Service request Mode*</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>Walk In</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 adj-right-pad">
                <label class="pull-left adj-fon">Repair Against</label> <span class="pull-right adj-fon">:</span>
              </div>
              <div class="col-sm-6">
                <select class="form-control">
                  <option>7000000-sfnskdfjnsdkfjnsdkjfnskgjsngjksnfgksjnfgs</option>
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-white bg-info  mb-3">
      <div class="card-body footer-panel">
        <button class="btn btn-primary btn-default my-2 my-sm-0 pull-left" (click)="open(content)" type="submit">Cancel</button>

        <button class="btn btn-primary btn-default my-2 my-sm-0 pull-right" (click)="open(content)" type="submit">Save</button>
      </div>
    </div>
  </div>
  <!-- <p-dialog [(visible)]="msgDialog" modal="true" [responsive]="true" showEffect="fade" (onHide)="errdialogclose()">
    <p-header>
        Error
    </p-header>
    <div>
        Something unexpected has occured.Please try again later.
    </div>
    <p-footer>
        <button name="okDialog" type="button" class="btn btn-success errbtn" (click)="errdialogclose()">Ok</button>
    </p-footer>
</p-dialog> -->
</div>
