<div class="login-block">
    <div class="container">
      <div class="row login-row-adj">
        <div class="col-md-8 banner-sec">
          <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                  alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg"
                  alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                      nostrud exercitation</p>
                  </div>
                </div>
              </div>
            </div>
  
          </div> -->
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slider of sliders">
                <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                <div class="carousel-caption">
                    <h3>{{slider.label}}</h3>
                    <p>{{slider.text}}</p>
                </div>
            </ng-template>
        </ngb-carousel>
        </div>
        <div class="col-md-4 login-sec">
          <div class="card">
            <div class="card-header">
              <h3>Sign In</h3>
              <div class="d-flex justify-content-end social_icon">
                <!-- <span><i class="fab fa fa-facebook-square"></i></span>
                            <span><i class="fab fa fa-google-plus-square"></i></span>
                            <span><i class="fab fa fa-twitter-square"></i></span> -->
              </div>
            </div>
            <div class="card-body">
              <form name="form" class="login-form" (ngSubmit)="loginsForm.form.valid && onSubmit()" #loginsForm="ngForm" novalidate>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa fa-user"></i></span>
                  </div>
                  <!-- <input type="text" class="form-control" placeholder="username" name="username" [(ngModel)]="loginModel.user_id" #username="ngModel" [ngClass]="{ 'is-invalid': loginsForm.submitted && username.invalid }" reauired>
                  <div *ngIf="loginsForm.submitted && username.invalid" class="invalid-feedback">
                      <div *ngIf="username.errors.required">First Name is required</div>
                  </div> -->
                  <input type="text" class="form-control" name="username" [(ngModel)]="loginData.user_id" #username="ngModel" [ngClass]="{ 'is-invalid': loginsForm.submitted && username.invalid }" placeholder="User ID *" value="" required  />
                  <div *ngIf="loginsForm.submitted && username.invalid" class="invalid-feedback">
                      <div *ngIf="username.errors.required">User Id Name is required</div>
                  </div>
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa fa-key"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="loginData.password" #password="ngModel" [ngClass]="{ 'is-invalid': loginsForm.submitted && password.invalid }" minlength="3" placeholder="Password *" value=""  required >
                  <div *ngIf="loginsForm.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="row align-items-center remember">
                  <!-- <input type="checkbox">Remember Me -->
                  <div class="form-check">
                    <label>
                        <input type="checkbox" name="check" checked> <span class="label-text">Remember Me</span>
                    </label>
                  </div>
                </div>
                <div class="row alert alert-danger" *ngIf="message">
                  <br>
                  <span>{{message}}</span>
                  <br>
                </div>
                <div class="form-group">
                    <button id="submitForm" class="btn btn-primary">{{ 'Log in' | translate }}</button>
                    <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a> -->
                  <!-- <input type="submit" value="Login" (click)="userLogin()" class="btn float-right login_btn"> -->
                </div>
              </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <span>Don't have an account?</span>
                </div>
              <div class="d-flex justify-content-center links">
                
                <button class="btn btn-primary" [routerLink]="['/signup']">{{ 'Register' | translate }}</button>
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
              </div>
              <div class="d-flex justify-content-center">
                <a routerlink="/">Forgot your password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>