/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.padng-rem{
    padding: 0px;
}

.body {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1;
}

.text-muted{
    color: black !important;
    font-weight: bold;
    padding: 0 0 0 21px;
}

.card-header-global{
    border-top: 3px solid rgba(210, 62, 5, 0.125);
    border-bottom: 3px solid rgba(210, 62, 5, 0.125);
    // background: -webkit-linear-gradient(left, #7cb1c1, #0482a7);
    background: -webkit-linear-gradient(left, #ec9256, #6861c1);
    padding-left: 2rem;
    padding-right: 2rem;
}