/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.padng-rem{
    padding: 0px;
}

.body {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1;
}
