<div [@routerTransition]>
    <h4 class="text-muted">Job Sheet Details Overview</h4>
    <ngb-tabset>
        <ngb-tab title="In-house">
            <ng-template ngbTabContent>
                <div class="col-sm-12 padng-rem">
                    <div class="card text-white mb-3 dash-custom-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="card-title">Service</h4>
                                    <p class="card-text">Create new job sheets, manage services and generate invoices</p>
                                </div>
                                <div class="col-sm-4 pull right">
                                    <a href="" class="btn btn-primary btn-md pull-right" role="button">CREATE NEW JOB SHEET</a>        
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card mb-3 dash-form-control">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-3">
                                <form role="form">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <select class="form-control filter-wid-dd">
                                                    <option>Name</option>
                                                    <option>Date</option>
                                                    <option>Job Sheet No</option>
                                                    <option>IMEI No</option>
                                                </select>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form role="form">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <select class="form-control filter-wid-dd">
                                                    <option>Name</option>
                                                    <option>Date</option>
                                                    <option>Job Sheet No</option>
                                                    <option>IMEI No</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <select class="form-control filter-wid-dd">
                                                        <option>Name</option>
                                                        <option>Date</option>
                                                        <option>Job Sheet No</option>
                                                        <option>IMEI No</option>
                                                    </select>
                                                </span>
                                            </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-5">
                                <form role="form">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <select class="form-control filter-wid-dd">
                                                    <option>Name</option>
                                                    <option>Date</option>
                                                    <option>Job Sheet No</option>
                                                    <option>IMEI No</option>
                                                </select>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username">
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </form>
                            </div>
                            </div>
                            
                        </div>
                        <div class="card-body table-responsive jobsheet-table-font">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Job Sheet No.</th>
                                    <th>IMEI No./Sl No.</th>
                                    <th>Mobile No.</th>
                                    <th>Device Name</th>
                                    <th>Cust. Name</th>
                                    <th>Status</th>
                                    <th>TAT</th>
                                    <th>Escalated to</th>
                                    <th>Current Assighnee</th>
                                    <th>Action</th>
                                    <th>Revenue</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>/index.html</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                    <td>$321.33</td>
                                    <td>/index.html</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                    <td>$321.33</td>
                                    <td>/index.html</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                    <td>$321.33</td>
                                </tr>
                                <tr>
                                    <td>/about.html</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                    <td>$234.12</td>
                                    <td>/about.html</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                    <td>$234.12</td>
                                    <td>/about.html</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                    <td>$234.12</td>
                                </tr>
                                <tr>
                                    <td>/sales.html</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                    <td>$16.34</td>
                                    <td>/sales.html</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                    <td>$16.34</td>
                                    <td>/sales.html</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                    <td>$16.34</td>
                                </tr>
                                <tr>
                                    <td>/blog.html</td>
                                    <td>9516</td>
                                    <td>89.3%</td>
                                    <td>$1644.43</td>
                                    <td>/blog.html</td>
                                    <td>9516</td>
                                    <td>89.3%</td>
                                    <td>$1644.43</td>
                                    <td>/blog.html</td>
                                    <td>9516</td>
                                    <td>89.3%</td>
                                    <td>$1644.43</td>
                                </tr>
                                <tr>
                                    <td>/404.html</td>
                                    <td>23</td>
                                    <td>34.3%</td>
                                    <td>$23.52</td>
                                    <td>/404.html</td>
                                    <td>23</td>
                                    <td>34.3%</td>
                                    <td>$23.52</td>
                                    <td>/404.html</td>
                                    <td>23</td>
                                    <td>34.3%</td>
                                    <td>$23.52</td>
                                </tr>
                                <tr>
                                    <td>/services.html</td>
                                    <td>421</td>
                                    <td>60.3%</td>
                                    <td>$724.32</td>
                                    <td>/services.html</td>
                                    <td>421</td>
                                    <td>60.3%</td>
                                    <td>$724.32</td>
                                    <td>/services.html</td>
                                    <td>421</td>
                                    <td>60.3%</td>
                                    <td>$724.32</td>
                                </tr>
                                <tr>
                                    <td>/blog/post.html</td>
                                    <td>1233</td>
                                    <td>93.2%</td>
                                    <td>$126.34</td>
                                    <td>/blog/post.html</td>
                                    <td>1233</td>
                                    <td>93.2%</td>
                                    <td>$126.34</td>
                                    <td>/blog/post.html</td>
                                    <td>1233</td>
                                    <td>93.2%</td>
                                    <td>$126.34</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Escalation</b> received</ng-template>
            <ng-template ngbTabContent>
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <hr />
</div>
