.filter-wid-dd{
    width: 100%;
}

.jobsheet-table-font{
    font-weight: 500;
    font-size: 0.8rem;
}
.dash-form-control {
    .input-group-text{
        padding: 0 0 0 0;
    }

    .form-control{
        padding: 0 0 0 8px;
        margin: 0 0 0 0;
        height: 1.4rem;
        font-size: 0.9rem;
    }
    .card-header{
        padding: 0.3rem 1.25rem;
    }
}

.dash-custom-card{
    background: -webkit-linear-gradient(left, #f39c12, #00c6ff);
    // margin: 0 -15px 0 -15px;
}



.form-group {
    margin-bottom: 0rem;
}