.csearch-op-spacing{
    margin: 0 0 19px 0;
}

.cjobsheet-panel-header{
    background: -webkit-linear-gradient(left, #6d5633, #436873);
}

.cjobsheet-panel-body{
    background: -webkit-linear-gradient(left, #f39c12, #00c6ff);
}

.adj-display{
    display: inline-flex;
}

.cjobsheet{
    .form-control{
        padding: 0.1rem;
        font-size: 0.9rem;
    }
    .cust-detailfont {
        .adj-fon{
            font-size: 0.8rem;
        }
        .cjs-checkbox{

        }

        .adj-right-pad{
            padding-right: 0px;
        }
        .row{
            padding-bottom: 0.39rem;
        }
    }

    .footer-panel{
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
